#logo{
  margin-left: 20px;
}

#coca {
  margin-left: 60px;
  font-family: 'Bricolage Grotesque', sans-serif;
}

.nav-link {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
}

section {
  display: block;
  margin-left: 100px;
  height: 100dvh;
}

#hello {
  margin-top: 100px;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-size: 35px;
}

#intro {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
}

#intro2 {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  color: gray;
}

#btnContact {
  margin-top: 15px;
  background-color: #CEBBA0;
  color: white;
}

#div1 {
  margin-top: 100px;
  margin-left: -100px;
  background-color: #CEBBA0;
}


#contactRow {
  margin-top: 30px;
  margin-left: -35px;
}

.column {
  float: left;
  padding: 35px;
}

#contacts {
  font-family: 'Montserrat', sans-serif;
  color: gray;
  margin-left: 25px;
}

#contactsLabel {
  font-family: 'Playfair Display', serif;
  color: black;
  font-size: 23px;
}

#aboutTitle {
  margin-top: -170px;
  margin-left: 100px;
}

#aboutImage {
  float: left;
  margin-right: 20px;
  margin-top: 15px;
  border-radius: 5px;
}

#hide {
  visibility: hidden;
}

#question {
  margin-top: 35px;
  color: black;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}

#who {
  margin-top: 15px;
  color: white;
  font-family:  'Montserrat', sans-serif;
  font-size: 32px;
}

#s2 {
  background-color: #CEBBA0;
  margin-left: 0px;
}

#bio {
  text-align:left;
  width: 90%;
  font-family: 'Playfair Display', serif;
  color: black;
}

#div2 {
  background-color: white;
}

#downloadCV {
  width: 200px;
  margin-top: 15px;
  background-color: black;
}

#downloadTitle {
  margin-left: 35px;
  color: #CEBBA0;
}

#brate {
  margin-left: 550px;
  margin-top: -5px;
}

#note {
  color: white;
  font-size: 13px;
}

#services {
  margin-left: 100px;
  margin-top: 50px;
  color: black;
}

#div4 {
  margin-top: -15px;
  width: 84%;
  margin-left: 200px;
  background-color: white;
}

#servFront {
  margin-top: -20px;
  color: black;
  font-size: 35px;
  font-family: 'Playfair Display', serif;
  font-weight: 200;
}

#div3 {
  width: 90%;
  margin-top: 5px;
}

.column2 {
  float: left;
  padding: 20px;
}

.card {
  width: 300px;
  height: 220px;
}

#cardRow {
  margin-left: 50px;
}

#cardDiv {
  background-color: #CEBBA0;
  width: 90%;
  margin-left: 15px;
  margin-bottom: 7px;
}

mat-card-title {
  color: black;
  margin-top: 6px;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

#des {
  color: gray;
  font-size: 15.5px;
}
